.content .main-content {
    display: flex;
    color: #628395;
    background-color: floralwhite;
}

@media (max-width: 500px) {
    .content .main-content {
        flex-direction: column;
    }
}
.content .main-content h2{
    text-align: center;
}
@media (max-width: 500px) {
    .content .main-content .first {
        
    }
}
.content .main-content p {
    padding: 10px;
}