html {
    font-size: 62.5%;
}
html, 
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
img {
    max-width: 100%; 
    height: auto;
}
.container {
    width: 100%;
    margin: 0 auto;
}
header {
    text-align: center;
}

h1 {
    color: #628395;
}
.nav-container {
    text-align: center;
    margin: 15px;
}

.nav-container a {
    text-decoration: none;
    font-weight: bold;
    color: #D38D6C;
    padding: 15px;
    margin: 15px;
}
@media (max-width: 500px) {
    .nav-container a {
        margin: 0px;  
    }
}
.profile-img img {
    display: block;
    object-fit: cover;
    border-radius: 0px;
    width: 100%;
    height: 300px;
    opacity: 1;
    object-position: center 30%;
}
.main-content {
    display: flex;
    flex-direction: column;
    color: #628395;
    padding: 30px;
    text-align: center; 
}
@media (max-width: 500px) {
    .main-content {
        align-items: center;
        padding: 0;
    }
}
.main-content h2{
    text-align: center;
    color: #D38D6C;
    font-size: 2.5rem;
}
.main-content p {
    font-size: 1rem;
}
footer {
    text-align: center;
    flex-direction: column; 
    padding: 20px;
}
footer h2 {
    color: #D38D6C;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    height: 40px;
    width: 350px;
    border: none;
    border-bottom: 1px solid #D38D6C;
}
.sign-up {
    background: #628395;
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    padding: 5px 20px;
    margin: 10px;
    text-decoration: none;
  }
.team {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.card {
    color: #628395;
    border-bottom: 1px dotted;
    padding-bottom: 1rem;
}
.team .card {
    text-align: center;
}
.card img {
    width: 150px;
    border-radius: 150px;
}
.card a {
    text-decoration: none;
    color: #D38D6C; 
}

